.custom-scroll-box[b-a1280v7wb5] {
    flex: 1;
    overflow-y: auto;
    min-height: 250px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    margin-bottom: 10px;
}

.custom-scroll-box-2[b-a1280v7wb5] {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}
